@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-width: 98vw;
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
}

.page_404 {
  /* padding: 40px 0; */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  font-family: "Arvo", serif;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  width: 60vw;
  height: 60vh;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
}
.contant_box_404 {
  margin-top: -50px;
}

.editor-form {
  padding: 2rem 1rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.3rem;
}
.upload-image {
  width: 30%;
  height: 30%;
}

/* authLayout styling :  */

.auth-layout-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Signup page styling */
.signup-page {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.fullname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  row-gap: 1.3rem;
}
.login-page-main {
  border: 3.5px solid rgba(0, 0, 0, 0.119);
  border-radius: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  width: 97%;
  color: rgba(38, 52, 186, 0.886);
}
.login-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.login-form {
  padding: 1rem 0;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}
hr {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
  border-radius: 35%;
}
.login-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.social-btn {
  margin: 0.7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

/* Profile component styling  */

.profile-main {
  width: 100%;
  min-height: 90vh;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 1rem;
}
.profile-back {
  width: 100%;
  background-image: url("https://source.unsplash.com/random/1920X1080?sunset");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(223, 217, 217, 0.975);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.384);
}
.previewImage-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-image-profile {
  border: 4px solid rgba(150, 143, 143, 0.308);
}
.user-profile-information {
  text-align: center;
  width: 12rem;
}
.username-profile {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
}
.width {
  font-size: medium;
  margin: 0.5rem 0 0.5rem 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-layout {
  min-height: 100vh;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .navbar {
  min-width: 98.9vw;
  padding: 0 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(4, 85, 58, 0.849);
  color: white;
  font-family: sans-serif;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.org-logo > h1 {
  font-size: x-large;
}

header > .navbar > .nav-content-list > nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

header > .navbar > .nav-content-list > nav > ul > li {
  margin: 0.5rem 0rem;
  padding: 0.5rem 0;
  transition: all 200ms linear;
  /* background-color: rgba(0, 0, 0, 0.048) */
}

header > .navbar > .nav-content-list > nav > ul > li:hover {
  border-bottom: 1.2px solid white;
  cursor: pointer;
}

#responsive-right-nav {
  position: absolute;
  width: 100vw;
  display: none;
  font-family: sans-serif;
  color: white;
  background-color: rgba(4, 85, 58, 0.925);
}

.res-nav > ul {
  height: 18rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.res-nav > ul > li {
  margin: 1rem 0;
  list-style: none;
}

.res-nav > ul > li:hover {
  padding: 0.3rem;
  border-bottom: 3px solid white;
}

.btn {
  display: none;
}

#closeHambarger {
  display: none;
}

.hero-section {
  width: 100vw;
  height: 80vh;
  background-image: url("https://preview.redd.it/a-beautiful-gaze-at-the-amazing-farm-land-ai-generated-v0-mh36ahvit0ec1.png?width=1080&crop=smart&auto=webp&s=77f0993c7804a44eb6425d5bb39865561fbdd2b4");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cart-item img:hover {
  cursor: pointer;
}
.full-blog-page-main {
  width: 70vw;
  padding: 3rem;
  gap: 3rem;
  display: flex;
  align-items: flex-start;

  justify-content: flex-start;
}
@media (max-width: 950px) {
  .btn {
    display: block;
  }

  header > .navbar > .nav-content-list > nav > ul {
    display: none;
  }
}

/* Here section use for made layout and design responsive */
@media (max-width: 375px) {
  .fullname {
    flex-direction: column;
    align-items: flex-start;
  }
  .half-width {
    width: 100%;
  }
  #responsive-right-nav {
    display: none !important;
  }
}
